<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="sk.boinc.nativeboinc"
      android:versionCode="12"
      android:versionName="0.2.5.1a">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>

	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:anyDensity="true"
		android:largeScreens="true" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:name="BoincManagerApplication"
		android:label="@string/app_name"
		android:description="@string/app_desc"
		android:icon="@drawable/nativeboinc" android:debuggable="false">

		<activity android:name=".BoincManagerActivity" 
		    android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service android:name=".service.ConnectionManagerService" 
				android:description="@string/service_desc"/>
		<service android:name=".installer.InstallerService"
				android:description="@string/install_service_desc" />
		<service android:name=".nativeclient.NativeBoincService"
				android:description="@string/nboinc_service_desc" />
		<service android:name=".widget.NativeBoincWidgetService"
				android:description="@string/widget_service_desc" />

		<receiver android:name=".widget.NativeBoincWidgetProvider">
			<intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    	<action android:name="sk.boinc.nativeboinc.widget.WIDGET_UPDATE" />
		    	<action android:name="sk.boinc.nativeboinc.widget.WIDGET_PREPARE_UPDATE" />
		    	<action android:name="sk.boinc.nativeboinc.widget.CLIENT_START_STOP" />
		    </intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_info" />
		</receiver>

		<activity android:name=".ManageClientActivity"
			android:label="@string/menuManage"
			android:launchMode="singleTop" />

		<activity android:name=".NativeClientActivity"
			android:label="@string/menuNativeClient"
			android:launchMode="singleTop" />
		
		<activity android:name=".AccessListActivity"
			android:label="@string/accessHostList"
			android:launchMode="singleTop" />
		
		<activity android:name=".InstalledBinariesActivity"
		    android:label="@string/installedBinaries"
		    android:launchMode="singleTop" />
		
		<activity android:name=".AppPreferencesActivity"
			android:label="@string/menuPreferences"
			android:launchMode="singleTop" />

		<activity android:name=".HostListActivity"
			android:label="@string/selectHost"
			android:launchMode="singleTop" />

		<activity android:name=".EditHostActivity"
			android:label="@string/hostEdit"
			android:launchMode="singleTop" />

		<activity android:name=".ProjectsActivity" />

		<activity android:name=".TasksActivity" />

		<activity android:name=".TransfersActivity" />

		<activity android:name=".MessagesActivity" />
		
		<activity android:name=".EditBAMActivity"
			android:label="@string/editBAM"
			android:launchMode="singleTop" />
		
		<activity android:name=".ProjectListActivity"
			android:label="@string/projectList"
			android:launchMode="singleTop" />

		<activity android:name=".AddProjectActivity"
			android:label="@string/addProject"
			android:launchMode="singleTop" />
		
		<activity android:name=".InstallStep1Activity"
			android:launchMode="singleTop"
			android:label="@string/installWizard" />
			
		<activity android:name=".InstallStep2Activity"
			android:launchMode="singleTop"
			android:label="@string/installWizard" />
		
		<activity android:name=".InstallFinishActivity"
			android:launchMode="singleTop"
			android:label="@string/installWizard" />
		
		<activity android:name=".ProgressActivity"
			android:launchMode="singleTop"
			android:label="@string/installingUpdating" />
		
		<activity android:name=".ScreenLockActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:screenOrientation="landscape"
			android:launchMode="singleTop" />
		
		<activity android:name=".UpdateActivity"
			android:label="@string/updateBinaries"
			android:launchMode="singleTop" />
			
		<activity android:name=".ShutdownDialogActivity"
			android:screenOrientation="portrait"
			android:launchMode="singleInstance"
			android:theme="@android:style/Theme.Dialog" />
		
		<activity android:name=".LocalPreferencesActivity"
			android:label="@string/localPreferences"
			android:launchMode="singleTop" />
	</application>
    
</manifest>